<h3>My entries</h3>
<div class="col-md-12">
  <ol class="entries">
    <% @entries.each do |entry| %>
      <div class="col-md-12">
        <li id="entry-<%= entry.id %>">
          <%= link_to gravatar_for(entry.user, size: 50), entry.user %>
          <span class="title"><%= link_to entry.title, entry_path(entry) %></span>
          <span class="content">
            <%= entry.content %>
            <%= image_tag entry.picture.url if entry.picture? %>
          </span>
          <span class="user"><%= link_to entry.user.name, entry.user %></span>
          <span class="timestamp">
            Posted <%= time_ago_in_words(entry.created_at) %> ago.
          </span>
            
            <div class="col-md-8 col-md-offset-2">
              <% if entry.comments.any? %>
                <h4>comments (<%= entry.comments.count %>)</h4>
                <ol class="comments">
                  <% entry.comments.each do |comment| %>
                    <li id="comment-<%= comment.id %>">
                      <%= link_to gravatar_for(comment.user, size: 50), comment.user %> 
                        <span class="user"><%= link_to comment.user.name, comment.user %></span>
                        <span class="content"><%= comment.content %></span>
                        <span class="timestamp">
                          Posted <%= time_ago_in_words(comment.created_at) %> ago.
                        </span>
                        <% if current_user?(comment.user) %>
                          <%= link_to "delete", comment, method: :delete,
                                                           data: { confirm: "You sure?" } %>
                        <% end %>
                    </li>
                  <% end %>
                </ol>
              <% end %>
              <div class="comment_form">
                <%= form_for entry.comments.build, html: {multipart: true} do |f| %>
                  <%= render 'shared/error_messages', object: f.object %>
            
                  <%= hidden_field_tag "comment[user_id]", current_user.id %>
                  <%= hidden_field_tag "comment[entry_id]", entry.id %>
                  <%= f.text_area(:content, placeholder: "Compose new comment") %>

                  <%= f.submit "Post", class: "btn btn-primary" %>
                <% end %>
              </div>
            </div>
      
        </li>
      </div>
    <% end %>
  </ol>
</div>
<%= will_paginate @entries %>
